
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script src="~/Scripts/jquery-3.1.1.min.js"></script>

<div id="webChatControl" style="margin-left:310px; margin-top:13px;"></div>

<script type="text/javascript">
                
                $(document).ready(function () {
                    
                    var controllerUrl = '/Home/Get';
                    $.ajax({
                        url: controllerUrl,
                        type: 'POST',
                        dataType: 'html',
                        contentType: 'application/html; charset=utf-8',
                        success: function (data) {
                            var chatControl = document.getElementById('webChatControl');
                            chatControl.innerHTML = chatControl.innerHTML + data;
                        }

                    });
                    });


</script>
